<ul dnd-list="list.people" dnd-dragover="dragover(list,item)">

    <li ng-repeat="person in list.people" dnd-handle="'.handle'" dnd-draggable="person" dnd-moved="list.people.splice($index, 1)"
        class="background-{{person.type}}">
        <div class="item">
            <div class="handle">:::</div>
            <div class="name">
                <input type="text" ng-model="person.name" class="background-{{person.type}} form-control input-sm">
            </div>
        </div>
    </li>

    <li class="dndPlaceholder">
        Drop any <strong>{{list.allowedTypes.join(' or ')}}</strong> here
    </li>

</ul>